.form {
  & h1 {
    font: var(--title);
    color: var(--content-primary);
    margin-bottom: 2.75rem;
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.5rem;

    & input {
      padding: .6875rem 1rem;
      font: var(--paragraph);
      border: 2px solid var(--border-primary);
      border-radius: 12px;

      &:hover {
        border-color: var(--border-hover);
      }

      &:active,
      &:focus,
      &:focus-visible,
      &:focus-within {
        outline: none;
        border-color: var(--color-brand)!important;
        border: 2px solid var(--color-brand); 
      }
    }

    button {
      background-color: var(--color-brand);
      border: none;
      border-radius: 12px;
      font: var(--label);
      color: var(--always-white);
      padding: .75rem 1.5rem;
    }
  }

  @media ( width >= 630px) {
    & form {
      flex-direction: row;

      & input {
        width: 28.1875rem;
      }

      & button {
        width: 10rem;
      }
    }
  }
}